### Exercises

-Do your work for this exercise in a jupyter notebook named hypothesis_testing.ipynb.

-For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like.

    -Is the website redesign any good?

    -Is our television ad driving more sales?

    -Has the network latency gone up since we switched internet service providers?

##### Notes:
Type 1 Error = Sin of Commission (you rejected the H0 when you shouldve left it alone)

Type 2 Error = Sin of Omission (you left it alone, when it shouldve been rejected)

The Boy Who cried Wolf - Type I and then Type II error
The villagers thought something was going on when nothing was going on.
Then the villagers thought nothing was going on when something was going on.

Null Hypothesis:
        
    The website redesign has had no effect

Alternative Hypothesis:

    The website redesign has had an effect

True Negative: (Correctly accept the Null Hypothesis)
        
    We correctly fail to reject the Null Hypothesis because our P value is
    greater than our alpha, closer to 1, and we posit that the 
    redesign of the website has had no significant effect.

True Positive: (Correctly reject the Null Hypothesis)
        
    We correctly reject that the redesign of the website had no effect
    and posit that the redesign of the website DID have an effect
    based on a very low P value or Probablity.

Type I Error: (Null hypothesis is True but we reject it)
        
    We reject the Null Hypothesis based on our sample data positing 
    that the website redesign had an effect but the Null Hypothesis
    was correct. The redesign did not have a significant effect.

Type II Error: (Null Hypothesis is False but we don't reject it)
        
    We accept the Null Hypothesis that the website redesign has
    had no effect, but the website redesign has had an effect.
    
Null Hypothesis:

    Our television ad has had no effect on sales

Alternative Hypothesis:

    Our television ad has had an effect on sales

True Negative: 

    We correctly fail to reject the Null Hypothesis that our tv add had no effect
    on sales because our P value was greater than our alpha of .05.

True Positive:

    We correctly reject the Null Hypothesis that our tv add has had no effect on our sales
    because our P value is less than our alpha of .05 meaning that our sample
    mean was far enough from our population mean that SOMETHING is happening. There
    is an effect evident in our P value.

Type I Error:

    We incorrectly reject our Null Hypothesis seeing that our P value is less than 
    our alpha of .05 and believe that or tv ad is having an effect on our sales. 
    The Null Hypothesis actually is correct which means that the ad is not having 
    a significant effect on our sales.

Type II Error:

    We incorrectly fail to reject our Null Hypothesis believing that our tv ad
    is not significantly effecting our sales, but our ad IS significantly effecting
    our sales. We may have had poor or skewed data that showed our P value greater
    than or alpha leading us to fail to reject the Null Hypothesis.

-Null Hypothesis:
    
    Switching internet service providers has had no effect on network latency

-Alternative Hypothesis:
    
    Switching internet service providers has had an effect on our network latency

-True Positive:
    
    We correctly fail to reject our Null Hypothesis that switching our internet service
    provider has had no effect on our network latency. We saw that our P value was
    greater than our alpha meaning that it is reasonable that our sample mean could
    fall within the same noraml distribution as our population mean.

-True Negative:
    
    We correctly reject our Null Hypothesis that switching our internet service provider
    has had no effect on our network latency. We saw that our P value was less than our
    alpha meaning that something is happening returning a sample mean that falls 
    outside of the Normal distribution of the population.

-Type I Error:
    
    We incorrectly reject our Null Hypothesis believing that switching our ISP IS
    having an effect on our network latency. There may be something else causing
    our P value to return lower than our alpha, but it is not due to switching out ISP.

-Type II Error:
        
    We incorrectly fail to reject our Null Hypothesis believing that switching or ISP
    is not effecting our network latency when the switch actually IS effecting our network.

### Exercises Part II

In [7]:
from math import sqrt
from scipy import stats
from pydataset import data
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#import viz # curriculum visualization examples

# df = pd.read_csv('data/exam_scores.csv')
# df.study_strategy.fillna('None', inplace=True)

    -Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [103]:
# t-score 3.536 and P-value .0009
# I reject the Null Hypothesis based on these results.
office1_mean = 90
stdev1 = 15
n1 = 40
office2_mean = 100
stdev2 = 20
n2 = 50

t = (100 - 90) / (stdev2 / sqrt(n2))
print(f"t-score = {t}")

p = stats.t(n2-1).sf(t) * 2
print(f"p-value = {p}")

t-score = 3.5355339059327378
p-value = 0.0009000029669488137

-Load the mpg dataset and use it to answer the following questions:

    -Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

    -Are compact cars more fuel-efficient than the average car?

    -Do manual cars get better gas mileage than automatic cars?

In [8]:
mpg = data("mpg")
data("mpg", show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

In [63]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,avg_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

#### 1999 car avg_mileage vs 2008 car avg_mileage

-Null Hypothesis:

    There is no significant difference in fuel efficiency in 1999 and 2008 cars.
    
-T-score = .22 and P-value = .83

    I fail to reject the Null Hypothesis based on these results.

In [66]:
# Pandas Series with descending avg_mileage of 1999 cars
a = mpg[mpg["year"] == 1999].avg_mileage

# a_df = a.reset_index()
# a_df.sort_values(by="index", ascending=False)

In [67]:
# Pandas Series with descending avg_mileage of 2008 cars
b = mpg[mpg["year"] == 2008].avg_mileage

# b_df = b.reset_index()
# b_df.sort_values(by="index", ascending=False)

In [68]:
# T-score is .22 and the P-value is .83
# I fail to reject the Null Hypothesis that 1999 cars had a significant difference
# in gas mileage.
stats.ttest_ind(a, b)

Ttest_indResult(statistic=0.21960177245940962, pvalue=0.8263744040323578)

In [74]:
# create avg_mileage column and calculate average gas mileage for 1999 cars
mpg["avg_mileage"] = (mpg["cty"] + mpg["hwy"]) / 2
avg_mileage_1999 = (mpg[mpg["year"] == 1999].avg_mileage).mean()
avg_mileage_1999

20.22222222222222

In [75]:
# calculate average gas mileage for 2008 cars
avg_mileage_2008 = (mpg[mpg["year"] == 2008].avg_mileage).mean()
avg_mileage_2008

20.076923076923077

#### Compact car avg_mileage vs. Other car avg_mileage

-Null Hypothesis:
    
    Car class has no significant impact on fuel efficiency.
    
-T-score = 6.73 and P-value = 1.31e-10

    I reject the Null Hypothesis based on these results.

In [70]:
# T-score = 6.73 and the P-value = 1.31e-10
# I reject the Null Hypothesis that class has no significant impact on gas mileage
compact_mileage_series = mpg[mpg["class"] == "compact"].avg_mileage
other_mileage_series = mpg[mpg["class"] != "compact"].avg_mileage
stats.ttest_ind(compact_mileage_series, other_mileage_series)

Ttest_indResult(statistic=6.731177612837954, pvalue=1.3059121585018135e-10)

In [72]:
compact_avg_mileage = mpg[mpg["class"] == "compact"].avg_mileage.mean()
compact_avg_mileage

24.21276595744681

In [73]:
other_avg_mileage = mpg[mpg["class"] != "compact"].avg_mileage.mean()
other_avg_mileage

19.128342245989305

#### Manual car avg_mileage vs. automatic car avg_mileage

-Null Hypothesis:
    
    Car transimission type has no significant impact on fuel efficiency.

-T-score = 4.59 and P-value = 7.15e-06

    I reject the Null Hypothesis based on these results.

In [83]:
manual_mileage_series = mpg[mpg["trans"].str.contains("man")].avg_mileage
auto_mileage_series = mpg[mpg["trans"].str.contains("auto")].avg_mileage
stats.ttest_ind(manual_mileage_series, auto_mileage_series)

Ttest_indResult(statistic=4.593437735750014, pvalue=7.154374401145683e-06)

In [87]:
manual_avg_mileage = mpg[mpg["trans"].str.contains("man")].avg_mileage.mean()
manual_avg_mileage

22.227272727272727

In [88]:
auto_avg_mileage = mpg[mpg["trans"].str.contains("auto")].avg_mileage.mean()
auto_avg_mileage

19.130573248407643