## Statistics != Data Science

    It's a tool of data scientists
    
    We are working with experiemental probability, not theoretical
    
    You HAVE to be able to imagine the dataset you need to solve the problem
    before you figure out how to code it in Python.

In [52]:
# interactive matplotlib plots
%matplotlib notebook
import numpy as np
import pandas as pd

#import viz # curriculum example visualizations

np.random.seed(123)

## Generating Random Numbers with Numpy

The numpy.random module provides a number of functions for generating random numbers.

    np.random.choice: selects random options from a list

    np.random.uniform: generates numbers between a given lower and upper bound

    np.random.random: generates numbers between 0 and 1

    np.random.randn: generates numbers from the standard normal distribution

    np.random.normal: generates numbers from a normal distribution with a specified mean and standard deviation

In [53]:
# choice(array, size=None, replace=True, p=None)
np.random.choice([1, 2, 3, 4], (3, 10))

array([[3, 2, 3, 3, 1, 3, 3, 2, 4, 3],
       [4, 2, 3, 2, 1, 2, 3, 4, 2, 1],
       [3, 1, 4, 2, 4, 3, 2, 1, 1, 1]])

In [54]:
#
np.random.uniform(10, 20, (4, 4))

array([[17.37995406, 11.8249173 , 11.75451756, 15.31551374],
       [15.31827587, 16.34400959, 18.49431794, 17.24455325],
       [16.11023511, 17.22443383, 13.22958914, 13.61788656],
       [12.28263231, 12.93714046, 16.30976124, 10.9210494 ]])

In [55]:
#
np.random.random((4,4))

array([[0.43370117, 0.43086276, 0.4936851 , 0.42583029],
       [0.31226122, 0.42635131, 0.89338916, 0.94416002],
       [0.50183668, 0.62395295, 0.1156184 , 0.31728548],
       [0.41482621, 0.86630916, 0.25045537, 0.48303426]])

In [56]:
# numbers from standard normal dist
np.random.randn(10,3)

array([[ 0.01353855,  0.33737412, -0.92662298],
       [ 0.27574741,  0.37085233,  1.17430715],
       [-2.03229248,  0.58250829, -0.7211758 ],
       [-1.7024236 ,  0.76764147,  0.37067905],
       [ 2.07545935,  0.12775769,  1.79988945],
       [ 1.23836635,  0.91375695,  0.46626803],
       [ 0.12503966, -0.19765092, -0.72803492],
       [-0.61031342, -0.87304897,  0.15646903],
       [ 0.28655207,  0.8677178 ,  1.26751791],
       [ 2.10783998, -0.23608945, -0.23208183]])

In [57]:
# takes in mean and std and size
np.random.normal(10, 3, (2, 2))

array([[ 6.76558177, 13.48955361],
       [11.56747022, 15.53309564]])

### Example Problems

#### Carnival Dice Rolls
    You are at a carnival and come across a person in a booth offering you a game of "chance" (as people in booths at carnivals tend to do).

    You pay 5 dollars and roll 3 dice. If the sum of the dice rolls is greater than 12, you get 15 dollars. If it's less than or equal to 12, you get nothing.

    Assuming the dice are fair, should you play this game? How would this change if the winning condition was a sum greater than or equal to 12?

#### The point is to write code that simulates this experiement

In [58]:
ntrials = nrows = 4
n_dice_rolled = ncols = 3
# rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
rolls = np.random.choice([1, 2, 3, 4, 5,6], (ntrials, n_dice_rolled))
rolls

array([[4, 5, 6],
       [5, 2, 5],
       [5, 4, 5],
       [4, 1, 6]])

In [59]:
# default is to sum the whole thing
# axis=0 or axis=1
rolls.sum(axis=1)

array([15, 12, 14, 11])

In [60]:
# creates bool for win or loss
rolls.sum(axis=1) > 12

array([ True, False,  True, False])

In [61]:
# You can do this without .astype(int) and numpy will convert it for you
# probability of winning
p_win = (rolls.sum(axis=1) > 12).mean()

In [62]:
amount_we_win = 15
cost = 5

expected_winnings = p_win * amount_we_win

profit = expected_winnings - cost
profit

2.5

### No Rest or Relaxation

In [63]:
p_nap = .3
naps = np.random.random((10, 2)) <= p_nap
naps

array([[False,  True],
       [ True, False],
       [ True, False],
       [False, False],
       [ True, False],
       [ True, False],
       [False,  True],
       [ True, False],
       [False, False],
       [False, False]])

In [64]:
naps.sum(axis=1)

array([1, 1, 1, 0, 1, 1, 1, 1, 0, 0])

In [65]:
(naps.sum(axis=1) >= 1)

array([ True,  True,  True, False,  True,  True,  True,  True, False,
       False])

In [66]:
# probability of one nap in a weekend
(naps.sum(axis=1) >= 1).mean()

0.7

In [67]:
# probability of zero naps taken in a weekend
(naps.sum(axis=1) == 0).mean()

0.3

### One With Dataframes

    What is the probability of getting at least one 3 in 3 dice rolls?

    To simulate this, we'll use a similar strategy to how we modeled the dice rolls in the previous example, but this time, we'll store the results in a pandas dataframe so that we can apply a lambda function that will check to see if one of the rolls was a 3.

In [68]:
n_trials = 5
n_dice_rolled = 3

rolls = np.random.choice([1, 2, 3, 4, 5, 6], (n_trials, n_dice_rolled))
rolls

array([[1, 2, 4],
       [2, 1, 6],
       [2, 3, 6],
       [3, 3, 6],
       [2, 4, 3]])

In [69]:
df = pd.DataFrame(rolls)
df

   0  1  2
0  1  2  4
1  2  1  6
2  2  3  6
3  3  3  6
4  2  4  3

In [70]:
# We need to apply a function row by row which returns
# True or False for 3 in the row
# .values is a Pandas Series
df.apply(lambda row: 3 in row.values, axis=1)

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [71]:
# converts above to probability
df.apply(lambda row: 3 in row.values, axis=1).mean()

0.6

#### Explanation of lambda parts above

In [72]:
s = pd.Series([3, 2, 2])
s

0    3
1    2
2    2
dtype: int64

In [73]:
# converts this to a Numpy array
s.values

array([3, 2, 2])

In [74]:
3 in s.values

True

## Exercises

1. How likely is it that you roll doubles when rolling two dice?

In [76]:
n_trials = nrows = 10
n_dice = ncols = 2

rolls = np.random.choice([1, 2, 3, 4, 5, 6], n_trials * n_dice).reshape(nrows, ncols)
rolls

array([[6, 6],
       [1, 1],
       [4, 2],
       [1, 3],
       [2, 6],
       [4, 1],
       [5, 1],
       [5, 2],
       [4, 6],
       [2, 1]])

In [91]:
# function to create a bool list returning True for doubles rolled
def doubles_trial(rolls):
    return np.array([roll[0] == roll[1] for roll in rolls])
doubles_bool = doubles_trial(rolls)
doubles_bool
#doubles_bool = pd.Series(doubles_bool)

array([ True,  True, False, False, False, False, False, False, False,
       False])

In [92]:
doubles_rate = doubles_bool.mean()
doubles_rate

0.2

2. If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [124]:
n_trials = nrows = 10
n_coins = ncols = 8

flips = np.random.choice([0, 1], (n_trials, n_coins))
flips

array([[1, 0, 0, 0, 1, 0, 1, 0],
       [1, 1, 0, 0, 1, 0, 0, 1],
       [1, 1, 1, 1, 0, 0, 1, 1],
       [1, 0, 1, 0, 1, 1, 0, 0],
       [0, 0, 0, 1, 0, 0, 1, 0],
       [0, 0, 0, 1, 1, 1, 1, 0],
       [0, 0, 1, 1, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 1, 0, 1]])

In [125]:
# create a bool df of True for a heads flip
heads_bool = flips == 1
heads_bool
df_heads = pd.DataFrame(heads_bool)
df_heads

       0      1      2      3      4      5      6      7
0   True  False  False  False   True  False   True  False
1   True   True  False  False   True  False  False   True
2   True   True   True   True  False  False   True   True
3   True  False   True  False   True   True  False  False
4  False  False  False   True  False  False   True  False
5  False  False  False   True   True   True   True  False
6  False  False   True   True  False   True  False  False
7  False  False   True  False  False  False  False  False
8   True   True  False  False  False  False   True   True
9  False   True  False  False  False   True  False   True

In [128]:
# probability of getting exactly 3 heads tossing 8 coins
exactly_three = ((df_heads.sum(axis=1)) == 3).mean()
exactly_three

0.3

In [115]:
# probability of getting more than 3 heads tossing 8 coins

In [129]:
more_than_three = ((df_heads.sum(axis=1)) > 3).mean()
more_than_three

0.5

3. There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

    plan:
    
        -generate a random pandas dataframe from a list of 1 (True data sci alum on billboard) 
            and 0 (False data sci alum on billboard)

        -convert integers to bools

        -sum rows and compare to 2

        -take the mean to find probability

In [143]:
n_sims = 100
n_billboards = 2

drive_by = np.random.choice([1, 0], (n_sims, n_billboards))
drive_by

array([[0, 1],
       [1, 0],
       [0, 0],
       [0, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [1, 1],
       [0, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [1, 0],
       [1, 1],
       [1, 0],
       [1, 1],
       [1, 1],
       [1, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 0],
       [0, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 1],
       [0, 1],
       [1, 1],
       [0, 1],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 1],
       [0, 1],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 1],
       [0, 0],
       [1, 1],
       [0, 1],
       [1, 1],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 0],
       [1, 1],
       [0, 1],
       [0, 0],
       [1, 0],
       [1, 1],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 0]])

In [147]:
# convert array to DataFrame
ds_df = pd.DataFrame(drive_by)
ds_df

    0  1
0   0  1
1   1  0
2   0  0
3   0  1
4   1  1
5   0  1
6   1  1
7   1  0
8   0  0
9   1  0
10  1  0
11  1  1
12  0  0
13  0  1
14  0  1
15  1  0
16  0  0
17  0  1
18  0  0
19  0  0
20  0  1
21  1  1
22  1  1
23  1  0
24  1  0
25  1  0
26  1  0
27  0  0
28  0  0
29  1  0
.. .. ..
70  1  1
71  0  1
72  0  0
73  0  0
74  1  0
75  0  1
76  0  0
77  1  1
78  0  1
79  1  1
80  0  0
81  0  0
82  0  1
83  0  1
84  0  1
85  0  1
86  0  0
87  0  0
88  1  1
89  1  1
90  1  0
91  1  1
92  0  1
93  0  0
94  1  0
95  1  1
96  0  0
97  0  1
98  0  0
99  0  0

[100 rows x 2 columns]

In [145]:
# find rows that sum to 2
ds_df.sum(axis=1) == 2

0     False
1     False
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22     True
23    False
24    False
25    False
26    False
27    False
28    False
29    False
      ...
70     True
71    False
72    False
73    False
74    False
75    False
76    False
77     True
78    False
79     True
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88     True
89     True
90    False
91     True
92    False
93    False
94    False
95     True
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [146]:
# probability that two billboards out of n_sims will both have data science alums on them
prob_ds_df = (ds_df.sum(axis=1) == 2).mean()
prob_ds_df

0.18

4. Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

Plan:
    
    sims = rows = n
    days = cols = 5

   np.random.normal(3, 1.5, sims)

   

    P(sold_tarts >= 17)

In [257]:
sims = rows = 10000
days = cols = 5
# possible tarts sold each day for five days
pop_sales = np.random.normal(3, 1.5, (sims, days))

# put it all together
pop_prob = (
 (pd.DataFrame(pop_sales)
  .sum(axis=1) >= 17)
  .mean()
)
pop_prob

0.277

In [256]:
# Breakdown

In [ ]:
# convert array in Pandas DataFrame
pop_sales = pd.DataFrame(pop_sales)
pop_sales

In [169]:
# week has leftover poptarts for Zach
pop_sales.sum(axis=1) >= 17

array([False,  True, False, False, False, False,  True, False, False,
       False, False, False,  True,  True,  True,  True, False,  True,
       False, False, False, False, False, False, False, False, False,
        True, False, False,  True, False, False,  True,  True, False,
        True,  True, False,  True, False,  True,  True, False,  True,
        True, False, False, False,  True,  True, False,  True, False,
       False, False, False,  True, False,  True, False,  True, False,
        True, False,  True, False, False,  True, False, False, False,
       False,  True, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False])

In [170]:
# probability Zach can get a poptart on Friday
(pop_sales.sum(axis=1) >= 17).mean()

0.3

5. Compare Heights

    Men have an average height of 178 cm and standard deviation of 8cm.
    
    Women have a mean of 170, sd = 6cm.
    
    If a man and woman are chosen at random, P(woman taller than man)?
    
    Plan:
    
    people = cols = 2
    sims = rows = n
    
    use np.random.normal(mean, std, size) in a function
    
    generate random woman height from mean 170 and std 6
    
    generate random man height from mean 178 and std 8

In [207]:
# function to find random man and woman height
def rand_height(mean, std, sims):
    return np.random.normal(mean, std, sims)

def f_beats_m(sims):
    return (rand_height(170, 6, sims) > rand_height(178, 8, sims)).mean()

f_beats_m(1000000)

0.212304

In [205]:
# steps to create the second function
# call random woman and man heights 
# p_fem_beats_male = (rand_height(170, 6, 1000) > rand_height(178, 8, 1000)).mean()
# p_fem_beats_male

6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

Plan:

    generate a random number between 1 and 250 using random.randint(1, 250, (sims))

    create a bool where 1 == True which indicates an installation issue

    check for a 1 in 50

    check for a 1 in 100

In [247]:
# generate an array from np.random.randint(), the size will me number of sims
# the mean() will give the probability

sims = 50
prob_of_issue = (np.random.randint(1, 251, (sims)) == 1).mean()
prob_of_issue

0.04

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

In [251]:
sims = 150
prob_of_issue = (np.random.randint(1, 251, (sims)) == 1).mean()
prob_of_issue

0.006666666666666667

How likely is it that 450 students all download anaconda without an issue?

In [252]:
sims = 450
prob_of_issue = (np.random.randint(1, 251, (sims)) == 1).mean()
prob_of_issue

0.011111111111111112

7. There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

How likely is it that a food truck will show up sometime this week?

8. If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?